body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: url('images/vote.jpg');
    background-size: cover;
    background-position: center;
    color: rgba(53, 50, 50, 0.8);
    min-height: 100vh;
    background-attachment: fixed;
}


.container {
    max-width: 900px;
    margin: 80px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.03);
}


h1, h2, h3 {
    color: #fff;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

a {
    color: #2b2626;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: #1e90ff;
    transform: translateY(-2px);
}

button, .btn {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover, .btn:hover {
    background-color: #f0f0f0;
    color: #000;
    transform: translateY(-3px);
}


ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

li {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 15px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
    .container {
        margin: 40px;
        padding: 30px;
    }

    button, .btn {
        padding: 10px 20px;
        font-size: 16px;
    }

    h1 {
        font-size: 2rem;
    }
}
